	<div id="container">
		<div class="parallax-background">
		  <div class="intro-text">
		    Welcome to Nico's Site
		    <p><i class="fi-arrow-down"></i></p>
		  </div>
		</div>
	</div>


		<div class="parallax-content title">
			<div class="row">
				<h1 style="text-align:center"><strong>About Me</strong></h1>
			</div>
		</div>
		<div class="parallax-content about_me">
				<div class="row">
					<div class="large-4 columns">
					    <%= image_tag("nico.png", height: '500', width: '500', class: "self_img", align: "middle" ) %>
					</div>
					  	<div class="large-8 columns" align="center">
					  	 <p>
					  	 	<h5>
					  	 		Hi! My name is Nico, I'm a 28 year old Software Engineering student from Ottawa, Ontario, Canada. I love building things, learning, and #winning. As well, I am the <strong>Director of Business Development for the University of Ottawa's Software Engineering Student Association</strong>, where my job is to forge relationships with the Telfer School of Business, help organize a startup weekend, and engage students to get them working on projects.</h5>
					  	 		<h5>
					  	 		 To build this site I used the opportunity to work with the Foundation5 front end framework. What I want to do here is display my education and resume, and showcase some of the projects I'm currently working on. All feedback is welcome! Also, you'll find links to my Github, Twitter and Linkedin accounts. Cheers!
					  	 	</h5>
					  	 </p>
					  	</div>
				</div>
		</div>

		<div class="parallax-content title">
			<div class="row">
				<h1 style="text-align:center"><strong>Formal Education</strong></h1>
			</div>
		</div>

		<div class="parallax-content">
			<div class="wrapper">
					<div class="row">
						<div class="large-12 column" style="text-align:center">
							<%= image_tag("UOttawa.png", height: '100', width: '100', class: "image1", align: "middle" ) %>
						</div>
						<div class="large-4 columns">
					      <h3>B.Sc Software Engineering</h3>
					      <h3>3rd year</h3><h4>GPA: 8.6</h4>
					  	</div>
					  	<div class="large-8 columns">
					      <p>
					      	<h5>I am currently enrolled at the University of Ottawa in the Software Engineering program. Throughout the program I attempt to push myself and those around me by striving for top scores in all courses, assignments and projects. As well I strive to be as creative as possible with both class and side projects. Important classes taken include Data Structures and Algorithms, Advanced Programming concepts in C++, Introduction to Software Engineering, and Software Design and Architecture.</h5>
					      </p>
				    	</div>
				    </div>

				    <div class="row">
						<div class="large-12 column" style="text-align:center">
							<%= image_tag("UOttawa.png", height: '100', width: '100', class: "image1", align: "middle" ) %>
						</div>
						<div class="large-4 columns">
					      <h3>B.Sc Civil Engineering</h3>
					      <h3>Completed: 2010</h3><h4>GPA: 6.1</h4>
					  </div>
					  	<div class="large-8 columns">
					      <p>
					      	<h5>In 2010, I completed my studies in Civil Engineering at the University of Ottawa, with a cumulative GPA of 6.1. Highlights of my studies include my 4th year capstone project, in which I led a team of 4 students to do a complete re-design of the museum of science and technology, complete with feasibility study, 3D design rendered in AutoCad and in Google Earth, and complete structural analysis.</h5>
					      </p>
				    	</div>
				    </div>
			</div>
		</div>
		
		<div class="parallax-content title">
			<div class="row">
				<h1 style="text-align:center"><strong>Self Education</strong></h1>
			</div>
		</div>
		<div class="parallax-content self_education">
			<div class="wrapper">	
				<div class="row">
						<div class="large-12 column" style="text-align:center">
							<%= image_tag("treehouse.png", height: '100', width: '100', class: "image4", align: "middle" ) %>
						</div>
						<div class="large-4 columns">
							<h3>Team Treehouse</h3>
							<h4>2012-present</h4>
					  </div>
					  	<div class="large-8 columns">
					      <p>
					      	<h5>In my quest for learning, I have spent much of my free time on TeamTreehouse's learning tracks. TeamTreehouse is a great resource for programmer's to start and learn their craft, with learning tracks dedicated to getting you going on entire subjects. I've completed the Web Development track, Ruby on Rails development Track, PHP Development track, and Wordpress Development track. All of my code for these tracks can be found on my Github account, http://github.com/howzlife. I highly recommend them, as their forums are also incredibly helpful.</h5>
					      </p>
				    	</div>
				    </div>
				    <div class="row">
						<div class="large-12 column" style="text-align:center">
							<%= image_tag("coursera.png", height: '100', width: '200', class: "image5", align: "middle" ) %>
						</div>
						<div class="large-4 columns">
							<h3>Coursera</h3>
							<h4>2013-2014</h4>
					  </div>
					  	<div class="large-8 columns">
					      <p>
					      	<h5>In my early days of dabbling in programming, I desperately wanted to better myself. In anticipation for my upcoming University education, I undertook and completed courses in Android Development, Data Structures and Algorithms, and Databases on Coursera.org. As well, I took side courses in Economics and Game Theory, for the simple reason that I found the subject matter interesting. In these courses I learned discipline and to push myself, as well as to budget my time and resources to be able to complete the assignments and study for the quizzes and finals that were offered. I would recommend anyone who is interested in learning (which should be EVERYONE, really) check them out and take a course! Its Free!</h5>
					      </p>
				    	</div>
				    </div>

				    <div class="row">
						<div class="large-12 column" style="text-align:center">
							<%= image_tag("codecademy.png", height: '100', width: '200', class: "image6", align: "middle" ) %>
						</div>
						<div class="large-4 columns">
							<h3>CodeCademy</h3>
							<h4>2012</h4>
					  </div>
					  	<div class="large-8 columns">
					      <p>
					      	<h5>This is where it all began for me. Although their courses can be considered somewhat easy, CodeCademy gives a great introduction to programming that anyone can follow. It was in my free time at my full-time job (which, admitedly, was a LOT of free time) that I started reading e-books and going through the codecademy courses. I was quickly hooked, and finished the entire website in about a two month span. This includes HTML, CSS, Ruby, Python, Javascript, JQuery and PHP courses. It's crazy how much someone can achieve using only the time where they would be otherwise surfing the web, no?</h5>
					      </p>
				    	</div>
				    </div>
		</div>
	</div>


		<div class="parallax-content title">
			<div class="row">
				<h1 style="text-align:center"><strong>Work Experience</strong></h1>
			</div>
		</div>
						
		<div class="parallax-content  experience">
			<div class="wrapper">
					<div class="row">
						<div class="large-3 columns">
				      <%= image_tag("sesa.png", height: '80', width: '80', class: "logo1", align: "middle" ) %>
					      <h3>Director of Business Development</h3>
					      <h3><br>SESA, U. of Ottawa</h3><h4><br>January 2015 - Present</h4>
					      <p>
					      	<h5>As Director of Business development, I am currently responsible for organising a Startup Weekend at the Univeristy of Ottawa, February 27th to May 1st. As well, I am helping to organise a democamp at the end of March. My mission and goal is to engage students to meet each other, as well as build and code as much as possible. I believe we have some of the smartest and most driven students here at the University, and that with a bit of engagement and guidance, amazing things will happen in very little time.</h5>
					      </p>
				    	</div>
						<div class="large-3 columns">
				      <%= image_tag("ibigroup.png", height: '80', width: '80', class: "logo2", align: "middle" ) %>
					      <h3>Junior Civil Engineer in Training</h3>
					      <h3><br>IBI Group Ottawa</h3><h4><br>January 2011 - September 2013</h4>
					      <p>
					      	<h5>My main accomplishments include creating efficient stormwater drainage models for local subdivisions using HEC-RAS, SWMHYMO and XPSWMM modelling software, creating detailed and perfected design reports to be delivered to the City of Ottawa for approvals, and consistently delivering projects on time and on budget, while developing a deep understanding of concepts learned on the job</h5>
					      </p>
				    	</div>
				    
					    <div class="large-3 columns">
					      <%= image_tag("arcode-logo-black.png", height: '80', width: '193', class: "logo3") %>
					      <h3 class="position3">Client Affairs & Web Development</h3><h3><br>Arcode</h3><h4><br><br>August 2014 - Current</h4>
					     <p>
					      <h5>With my business partner, we created wordpress and custom web solutions for small to medium sized local businesses. My accomplishments include effectively networking and bringing in contracts, providing work estimates and sample work to clients, hiring subcontractors where necessary, and taking beautiful sites from concept to completion. As well, all communications with clients were handled by me.
					      </h5>

					  	</p>
					    </div>
				    
					    <div class="large-3 columns">
					      <%= image_tag("swiftorders_logo.png", height: '80', width: "300", class: "logo4") %>
					      <h3 class="position4">Project I Am Currently Working On: </h3><h3><br>SwiftOrders</h3><h4><br><br>January 2015 - Current</h4>
					      <p>
					      	<h5>
					      		I was contacted in January of 2015 through my LinkedIn page to help a few local businessmen continue work on their application, and to help in business consulting. At the time of writing I am adding Stripe integration, process payments and subscriptions, and integrating phaxio. Though I can't link to the repository (it's private), I will try to blog my way through all the problems, trouble and (small) successes I encounter. Such fun!
					      	</h5>
					      </p>
					    </div>
				    </div>
			</div>
		</div>



